body{
    margin: 0;
    padding: 0;
}

/*  */
header {
    background: #989898;
    min-height: 50px;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.main-logo h1 {
    margin: 0;
    color: #fff;
    font-family: sans-serif;
    font-size: 35px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}
.log-btns a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    margin-right: 25px;
}
/*  */
.wrapper {
    background: #c6c6c6;
    min-height: 100vh;
}
.login-form {
    max-width: 500px;
    margin: 0 auto;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 40px;
    position: relative;
    top: 150px;
}
.form-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
}
.form-header {
    background: #989898;
    text-align: center;
    padding: 18px 0;
    font-size: 25px;
    font-family: sans-serif;
    color: #fff;
}
.form-content {
    margin-top: 40px;
}
.form-content form input {
    height: 50px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    border: 2px solid #cacaca;
    border-radius: 6px;
    padding: 0 20px;
    outline: none;
}
.form-content form button:hover {
    background: #e3e3e3;
    border: 1px solid #6b6b6b;
    color: #000;
}
.form-content form button {
    height: 50px;
    transition: 0.4s ease-in-out;
    width: 200px;
    background: #989898;
    color: #fff;
    border: none;
    cursor: pointer;
}

.form-content a {
    font-size: 18px;
    text-align: right;
    margin-left: auto;
    display: block;
    margin-right: 25px;
    color: #989898;
}
.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, .2));
    font-size: 80px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e3e3e3;
}
.waviy span {
    font-family: sans-serif;
    position: relative;
    display: inline-block;
    color: #000;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));

}


/* keyframes */
@keyframes waviy {
    0%,40%,100% {
        transform: translateY(0)
    }
    20% {
        transform: translateY(-20px)
    }
} 

/* responsive */
@media (max-width: 575px){
    nav {
        padding: 15px 10px;
    }
    .login-form {
        max-width: 100%;
        top: 90px;
        padding-bottom: 30px;
    }
    .form-content {
        margin: 40px 30px 0px;
    }
    .form-content form input {
        max-width: 100%;
        height: 45px;
        border-radius: 4px;
    }
    .form-content a {
        font-size: 15px;
        margin-right: 0px;
        margin-top: 20px;
    }
    .form-content form button {
        font-size: 14px;
    }
    
    .form-content form button {
        font-size: 17px;
    }
    .form-header {
        padding: 16px 0;
        font-size: 20px;
    }
}